*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 550px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    margin-bottom: 20px;
     font-size: 50px;
    font-weight: 800;
}
.field{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.input{
    height: 40px;
    width: 300px;
    border-radius: 20px;
    padding-left: 20px;
    margin-left: 20px;
    background: rgb(231, 222, 238);
    border: none;
    outline: none;
}

label{
    font-size: larger;
    font-weight: 800;
}
.calculate{
    margin-top: 10px;
    height: 50px;
    width: 250px;
    font-size: 28px;
    font-weight: 800;
    border-radius: 20px;
    background: #c6e0f3f8;
    border: none;
}

h3{
    margin-top: 20px;
    font-size: 20px;
}
#result{
    padding-left: 9px;
    font-size: 40px;
}

.category{
    margin-top: 10px;
    height: 50px;
    width: 400px;
    font-size: 28px;
    font-weight: 800;
    border-radius: 20px;
    background: #c6e0f3f8;
    border: none; 
}

.img{
    height: 250px;
    width: 800px;
}